# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [16]:
drinks['country'][drinks['beer_servings']==drinks['beer_servings'].max()]

117    Namibia
Name: country, dtype: object

### Step 5. For each continent print the statistics for wine consumption.

In [28]:
drinks.groupby('continent')['wine_servings'].count()

continent
AF    53
AS    44
EU    45
OC    16
SA    12
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcohol consumption per continent for every column

In [30]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [32]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [33]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].describe()

           count      mean       std  min   25%    50%     75%   max
continent
AF          53.0  3.007547  2.647557  0.0  0.70   2.30   4.700   9.1
AS          44.0  2.170455  2.770239  0.0  0.10   1.20   2.425  11.5
EU          45.0  8.617778  3.358455  0.0  6.60  10.00  10.900  14.4
OC          16.0  3.381250  3.345688  0.0  1.00   1.75   6.150  10.4
SA          12.0  6.308333  1.531166  3.8  5.25   6.85   7.375   8.3